* {
  box-sizing: border-box
}

body {
  font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.title {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  text-align: center;
}

.favoriteImages {
  margin-left: 0;
  padding-top: 2%;
  float: left;
  overflow: hidden;
  width: 50%;
}

.favoriteImages .route, .favoriteImages .elevation {
  width: 90%;
}

.favoriteRideText {
  margin-right: 0;
  padding-top: 2%;
  float: right;
  overflow: hidden;
  text-align: center;
  width: 50%;
}

.rideSubTitle {
  padding-top: 5%;
}

.rideSubTitle, .rideDate, .rideLocation {
  margin: 0;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.isActive, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.yearSummary {
  height: 35em;
  width: 100%;
  background-color: black;
}

.yearSummaryName h1 {
  margin: 0;
  font-weight: 200;
}

.yearSummaryName {
  padding-top: 2em;
  text-align: center;
  font-size: medium;
  font-weight: lighter;
  color: white;
}

.yearSummaryMonth h1, .yearSummaryYear h1 {
  margin: 0;
  font-weight: 400;
}

.yearSummaryMonth {
  text-align: center;
  font-size: xx-large;
  color: white;
}

.yearSummaryYear {
  text-align: center;
  font-size: xx-large;
  color: rgb(100, 100, 100);
}

.monthTotals {
  height: 30em;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.monthTotalsTitle {
  text-align: center;
  padding-top: 0.5em;
  font-size: 50px;
  font-weight: lighter;
  color: black;
}

.monthTotalsDays {
  margin-top: 2em;
  margin-left: 2em;
  border-top: solid 2px rgb(100, 100, 100);
  float: left;
  width: 25%;
  height: 21em;
}

.monthTotalsDays h1 {
  margin: 0;
  padding-left: 0.5em;
  float: left;
  font-size: 200px;
}

.monthTotalsDaysLabel {
  width: auto;
  float: right;
  font-size: xx-large;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.monthTotalsSub {
  margin-top: 2em;
  margin-left: 1em;
  float: left;
  width: 25%;
  height: 21em;
}

.monthTotalsHrs {
  border-top: solid 2px rgb(100, 100, 100);
  width: 100%;
  height: 7em;
}

.monthTotalsHrs p {
  margin: 0;
  padding-left: 0.5em;
  float: left;
  font-size: 40px;
}

.monthTotalsHrsLabel {
  width: auto;
  float: right;
  font-size: xx-large;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.monthTotalsMiles {
  border-top: solid 2px rgb(100, 100, 100);
  width: 100%;
  height: 7em;
}

.monthTotalsMiles p {
  margin: 0;
  padding-left: 0.5em;
  float: left;
  font-size: 40px;
}

.monthTotalsMilesLabel {
  width: auto;
  float: right;
  font-size: xx-large;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.monthTotalsElevation {
  border-top: solid 2px rgb(100, 100, 100);
  width: 100%;
  height: 7em;
}

.monthTotalsElevation p {
  margin: 0;
  padding-left: 0.5em;
  float: left;
  font-size: 40px;
}

.monthTotalsElevationLabel {
  width: auto;
  float: right;
  font-size: xx-large;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.monthTotalsCalendar {
  margin-top: 1em;
  margin-left: 1em;
  border-left: solid 2px rgb(100, 100, 100);
  float: left;
  height: 21em;
  width: 45%;
}

/* For calandar rows and columns */
.column {
  float: left;
  width: 14%;
  padding: 10px;
  text-align: center;
}

/* For calandar rows and columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dayOfWeek h2{
  font-weight: normal;
}

/* Calendar Dots */
.calDot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.calDotActivity {
  height: 25px;
  width: 25px;
  background-color: #fc5200;
  border-radius: 50%;
  display: inline-block;
}

.montLongestActivity {
  height: 30em;
  width: 100%;
}

.montLongestActivityTitle {
  padding-bottom: 0.4em;
  border-top: solid 2px black;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  color: black;
}

.montLongestActivity iframe {
  margin: auto;
  display: block;
}

.monthAchievements {
  margin-left: 2.5%;
  float: left;
  height: 30em;
  width: 45%;
}

.monthAchievementsTitle {
  padding-bottom: 0.4em;
  border-top: solid 2px black;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  color: black;
}

.KOMS {
  border-top: solid 2px rgb(100, 100, 100);
  float: left;
  margin-left: 2.5%;
  width: 45%;
  height: 5em;
}

.goalsMet {
  border-top: solid 2px rgb(100, 100, 100);
  margin-left: 5%;
  float: left;
  width: 45%;
  height: 5em;
}

.challangesCompleted {
  border-top: solid 2px rgb(100, 100, 100);
  float: left;
  margin-left: 2.5%;
  width: 45%;
  height: 5em;
}

.Top10Times {
  border-top: solid 2px rgb(100, 100, 100);
  margin-left: 5%;
  float: left;
  width: 45%;
  height: 5em;
}

.achievementTitles {
  width: 100%;
  float: left;
  font-size: large;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.achievementTotals {
  font-size: xx-large;
  text-align: center;
}

.standoutSegment {
  margin-right: 2.5%;
  float: right;
  height: 30em;
  width: 45%;
}

@media only screen and (max-width: 600px) {}