body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* Button */
li {
  float: left;
}

/* Button Text */
li a {
  display: block;
  color: white;
  text-align-last: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Button Hover */
li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #111;
}

.active {
  background-color: rgb(158, 0, 0);
}

ul.topnav li.github {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Text */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown menu text */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  ul.topnav li {
    float: none;
  }
  ul.topnav li.github {
    float: none;
  }
}